<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<title>welcome</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="student.js"></script>
	
</head>

<body ng-app="myApp" ng-controller="MainCtrl">
	<div class="container">
		<h1>Students database</h1>
		<br></br>
		<br></br>

		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Roll no</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="post in posts">
					<td>{{post.name}}</td>
					<td>{{post.roll}}</td>
				</tr>
			</tbody>
		</table>

		<br></br><br></br><br></br><br></br>
		<form ng-submit="post()">
			<input required="required" type="text" placeholder="Studen's name" ng-model="data.name">
		</br>
	    </br>
	    <input required="required" type="text" placeholder="Roll no" ng-model="data.roll">
        </br>
        </br>
        <input type="submit" value="Add to database">
         </form>
    </div>
</body>
</html>
